:root {
	font-family: Tahoma, sans-serif;
	--header-textsize: ;
	--header-padding: 15px;
	--breadcrumb-textsize: ;
	--breadcrumb-padding: 15px;
	--sidebar-textsize: ;
	--sidebar-collapsed: 60px;
	--sidebar-expanded: 200px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	
}

.header-title {
	color: white;
	text-align: center;
	font-size: 5vw;
	font-weight: bold;
	padding: var(--header-padding);
	background-image: linear-gradient(to right,#FFFF7F,#7F7FFF,#FFFF7F);
}

.breadcrumb-bar {
	box-sizing: border-box;
	padding: var(--breadcrumb-padding);
	background-color: #FFFF00;
	border: solid;
	border-color: #888800;
	border-radius: 10px;
}

.sidemenu {
	padding: 15px;
	height: auto;
	background-color: #000000;
	float: left;
}

main {
	
}

footer {
	

}









