:root {
	font-family: Tahoma, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	display: grid;
	grid-template-areas:
		"header	header"
		"sidemenu	breadcrumb"
		"sidemenu	main"
		"footer	footer";
	grid-gap: 0px;
	grid-template-columns: max-content 1fr;
	grid-template-rows: max-content max-content 1fr max-content;
	min-height: 100%;
}

header {
	grid-area: header;
	color: white;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 1vw;
	font-weight: thin;
	.headertitle {
		font-size: 5vw;
		font-weight: bold;
	}
	padding: 15px;
	background-image: linear-gradient(to right,#7F7FFF,#FF7F7F,#5FBF5F,#FFFF7F,#7F7FFF,#FF7F7F,#5FBF5F,#FFFF7F,#7F7FFF);
	background-size: 200%;
  	animation: gradientShift 60s linear infinite;
	a {
	color: inherit;
	text-decoration: none;
	}
}

.sidemenu {
	grid-area: sidemenu;
	padding: 5px;
	height: auto;
	background-color: #DFDFDF;
	float: left;
	.sidemenunav {
		list-style: none;
	}
	a {
		color: black;
		text-decoration: none;
	}
	li {
		padding: 10px;
		cursor: pointer;
	}
	li:hover {
		background-color: #FFFFFF;
	}
	transition: 0.5s;
}

.kebab {
	display: inline-flex;
	width: 25px;
	height: 25px;
  	flex-direction: column;
  	align-items: center;
  	gap: 5px;
			vertical-align: middle;
}

.kebab .dot {
	display: block;
  	width: 5px;
  	height: 5px;
  	border-radius: 2.5px;
  	background: #000000;
  	transition: 0.5s;
}

.hamburger .dot {
	width: 25px;
}

.sidemenuicon {
	font-family: "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
	font-size: 25px;
	vertical-align: middle;
	width: 35px;
	height: 35px;
}

.hidelabel {
	display: none;
	paddin-left: 5px;
	vertical-align: middle;
}

.showlabel {
	display: inline-block;
}

.autolink.active {
	background-color: black;
	font-weight: bold;
}

.breadcrumb {
	grid-area: breadcrumb;
	box-sizing: border-box;
	padding: 15px;
	background-color: #FFFF00;
	border: solid;
	border-color: #888800;
	border-radius: 10px;
}

main {
	grid-area: main;
	padding: 15px;
}

footer {
	grid-area: footer;
	padding: 15px;
}

@keyframes gradientShift {
	from {
		background-position: 0%;
	}
	to {
    	background-position: 100%;
 	}
}

























